.descriptionBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 10px 10px;
}

.imgContainer {
    background-size: cover;
}


.description {
    margin: 10px 0 20px 0;
}

.fullName {
    margin: 20px;
    font-size: 25px;
}

.imageProfile {
    max-width: 250px;
    max-height: 250px;

}

.containerStatus {
    margin: 0 0 0 10px;
}
.containerBlock {
    display: flex;
    justify-content: space-between;
    margin:10px 15px 0 0;
}
